{
  "stripe": {
    "secretkey": "",
    "publickey": ""
  },
  "queue": {
    "name": "",
    "key": ""
  },
  "helpelect": {
    "donate": { "confirmationemail": { "to": "" } },
    "support": { "email": { "to": "" } }
  }
}